@charset "utf-8";

@import url("layout.css");							/* 레이아웃 요소 */
@import url("board.css");							/* 게시판 목록, 상세, 쓰기 요소 */
@import url("common.css");						/* 일반 공통 요소 */
@import url("popup.css");						/* 팝업 관련 요소 */
@import url("etc.css");								/* 기타 요소 */






/* 기본설정 */
* {margin:0; padding:0;}
html,body												{ height:100%; font:12px nbgM, nsM, Dotum, play, sans-serif; color:#333; line-height:18px; padding:0; margin:0; }
div, table												{ padding:0; margin:0; }
table														{ border-spacing:0; border-collapse:collapse; }
input														{ vertical-align:middle; border:1px solid #CCC; }
select													{ vertical-align:middle; }
img, fieldset											{ border:0; }
img														{ vertical-align:middle; }
ul, ol														{ list-style:none; }
a:link, a:visited, a:active, a:hover				{ text-decoration:none; }
hr															{ display:none; }

button													{ border:none; cursor:pointer; }
.hidden, caption										{ position:absolute; overflow:hidden; visibility:hidden; width:0; height:0; left:0; top:0; font-size:0; line-height:0; padding:0; margin:0; }



#skip li													{ float:left; position:absolute; display:block; width:100%; top:-60px; z-index:9900; }
#skip a													{ overflow:hidden; width:1px; height:1px; font:16px nsM; color:#FFF; text-align:center; margin-bottom:-1px; white-space:nowrap; }
#skip a:focus, #skip a:active					{ position:absolute; width:100%; height:20px; top:60px; color:#FFF; background:#183172; padding:12px 0; }

