<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	
	<!-- SqlSession setup for MyBatis Database Layer : 업무 로직에서 사용함. -->
	<bean id="sqlOracleSession" class="org.mybatis.spring.SqlSessionFactoryBean">
	  	<property name="dataSource" ref="aunuri.dataSource"/>
	  	<property name="configLocation" value="classpath:/egovframework/sqlmapper/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath*:egovframework/sqlOracleMapper/**/*_SQL.xml"/>
	</bean>
	
	
	<bean id="sqlOracleSessionTempl" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache"> 
		<constructor-arg ref="sqlOracleSession"/> 
	</bean> 
	
	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->	
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="kr.co.sitglobal.aunuri" />
		<property name="annotationClass" value="egovframework.com.cmm.annotation.OracleMapperScan" /> 
		<property name="sqlSessionFactoryBeanName" value="sqlOracleSession" />
	</bean>  

</beans>